body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("https://i.pinimg.com/736x/1e/72/f3/1e72f3f013f0b0d4662474abe04e88cf.jpg") no-repeat center/cover;
  
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  }
  
  .auth-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .ant-btn-primary:hover {
    background-color: #FFC107;
    border-color: #FFC107;
  }
  .ant-btn-circle {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.ant-btn-circle:hover {
  border-color: #FF5733;
}
  